body {
	padding: 0;
	margin: 0;
	background-image: url("component/img/bkgrd.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x,
		repeat-y, repeat-x, repeat-y, background-position:  
top left, top right, bottom right, bottom left, top left, top right,
		bottom right, bottom left;
}

span {
	width: 10px;
	height: 10px;
	background-color: white;
	border: 0.1px solid lightgray;
	display: block;
	float: left;
	color: white;
}

.select {
	background-color: black;
	border-color: gray;
}

.dot {
	background-color: black;
	border-color: red;
}

.displayBox {
	width: 100px;
	height: 100px;
	line-height: 100%;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.show {
	margin-left: auto;
	margin-right: auto;
}

.secshow {
	margin-left: auto;
	margin-right: auto;
}

.thirdshow {
	margin-left: auto;
	margin-right: auto;
}

.twopart {
	text-align: center;
}