<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{{url_for('static', filename='xc.js')}}"></script>

		<script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"></script>

		<script type="text/javascript" src="{{url_for('static', filename='logic.js')}}"></script>
		<link href="{{url_for('static', filename='displayStyle.css')}}" rel="stylesheet" type="text/css">
		
		<audio id="audiotag1" src="{{url_for('static', filename='score.mp3')}} preload="auto"></audio>

		<title>Auto snake</title>
	</head>
	<body>
		
		</br>
		</br>
		</br>
		</br>
		</br>
		<div class="twopart">
			<div class="show">

			</div> 
		</br>
			<div class="secshow">
				Score</br>
			</div>
		</br>
			<div class="displayBox">
			
			</div>
		</div>
	</body>
</html>
