span {
	width: 5px;
	height: 5px;
	background-color: black;
	border: 0.1px solid black;
	display: block;
	float: left;
	color: white;
}
.displayBox {
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100%;
}